.app-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:16px 24px;
    background-color:#343243
}

.logo{
    font-size:18px;
    font-weight:600;
    color:#ffbe38;
}

.nav-links{
    display:flex;
    align-items:center;
    gap:20px;
}

.nav-links a{
    font-size:14px;
    color:#ffffff;
}
.nav-links a:hover{
    color:#ffbe38;
}

.nav-links button{
    background-color:#ffbe38;
    color:#1c1a28;
    padding:6px 14px;
    border-radius:6px;
    font-size:14px;
}

@media(max-width:600px){
    .app-header{
        flex-direction:column;
        gap:12px;
    }
    .nav-links{
        gap:12px;
    }
}