.filters-card{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#343243;
    padding:20px;
    border-radius:12px;
}

.filters-row{
    display:flex;
    gap:12px;
}

.filters-row select{
    flex:1;
    height:36px;
    background-color:#1c1a28;
    color:#ffffff;
    border:1px solid #4e5d72;
    border-radius:6px;
    padding:0 8px;
    font-size:14px;
}
.filters-row select:focus {
  outline: none;
  border-color: #ffbe38;
}

.filters-count {
  margin-top: 20px;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color:#ffffff;
}
