/*Global Reset*/
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/*Root styles*/
body{
  font-family:'Roboto',sans-serif;
  background-color:#1c1a28;
  color:#ffffff;
  min-height:100vh;
}

button{
  font-family:inherit;
  cursor:pointer;
  border:none;
  outline:none;
}

a{
  text-decoration:none;
  color:inherit;
}

img{
  max-width:100%;
  display:block;
}