.calendar{
    background-color:#343243;
    padding:20px;
    border-radius:16px;
    box-shadow: 0 0 8px rgba(253, 240, 3, 0.3); 
}

.calendar-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:16px;
}

.calendar-title{
    font-size:18px;
    font-weight:600;
    color:#ffbe38;
}
.nav-btn{
    background-color:#1c1a28;
    border= none;
    color:#ffbe38;
    font-size:18px;
    padding:8px 12px;
    border-radius:8px;
    cursor:pointer;
    transition:all 0.2s ease;
}
.nav-btn:hover{
    background-color: #ffbe38;
    color: #000;
}


.calendar-days{
    display:grid;
    grid-template-columns:repeat(7,1fr);
    margin-bottom:10px;
}

.day-label{
    text-align:center;
    font-size:12px;
    color:#cbd5e1;
}

.calendar-dates{
    display:grid;
    grid-template-columns:repeat(7,1fr);
    gap:10px;
}

.date-cell{
    background-color: #1c1a28;
    border: 1px solid #4e5d72;
    border-radius: 10px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.2s ease;
}
.date-cell:hover {
    transform: translateY(-4px);
    border-color: #ffbe38;
}

.date-cell img{
    width:30px;

}
.date-cell:hover{
    background-color:#42404d;
}
.date-cell.dimmed{
    opacity:0.3;
}
.date-cell:not(.dimmed) {
    border: 1px solid #ffbe38;
}