.calendar{
    background-color:#343243;
    padding:20px;
    border-radius:12px;
}

.calendar-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:16px;
}

.calendar-title{
    font-size:16px;
    font-weight:600;
}
.nav-btn{
    background-color:transparent;
    color:#ffffff;
    font-size:18px;
    padding:6px 10px;
    border-radius:6px;
}
.nav-btn:hover{
    background-color:#42404d
}

.calendar-days{
    display:grid;
    grid-template-columns:repeat(7,1fr);
    margin-bottom:8px;
}

.day-label{
    text-align:center;
    font-size:12px;
    color:#cbd5e1;
}
.calendar-dates{
    display:grid;
    grid-template-columns:repeat(7,1fr);
    gap:8px;
}
.date-cell{
    height:44px;
    background-color:#1c1a28;
    color:#ffffff;
    border-radius:6px;
    font-size:14px;
}
.date-cell img{
    margin:0 auto;
}
.date-cell:hover{
    background-color:#42404d;
}
.date-cell.dimmed{
    opacity:0.4;
}